* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
    background-color: blue;
}

main {
    display: grid;
    height: 300px;
    grid-template-columns: 7fr 3fr;
    gap: 10px;
    margin-top: 10px;

    .left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        .box {
            background-color: blueviolet;
        }
    }

    .right {
        display: grid;
        grid-template-columns: 3fr 7fr;
        gap: 10px;

        .box1 {
            background-color: aquamarine;
        }

        .box2 {
            background-color: brown;
        }
    }  
}
.sub {
    height: 50px;
    background-color: blue;
    margin-top: 10px;
}

.nav {
    display: grid;
    height: 200px;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
     margin-top: 10px;
    
    .box3 {
        background-color: red;
     }
}
footer {
    height: 50px;
    background-color :blueviolet;
    margin-top: 10px;
}