* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        background-color: rgba(81, 200, 188, 1);
        border-radius: 25px;

        .defai {
            padding: 20px;
            position: relative;


            h1 {
                color: rgb(255, 255, 255, 1);
            }

            .future {
                margin-top: 10PX;
                text-align: center;
            }

            .imgs {
                position: absolute;
                right: 20px;
                bottom: 10%;
                transform: translateY(-50%) scale(1.5);
                color: black;
            }
        }

        form {
            border-radius: 25px;
            padding: 10px;
            background-color: white;

            .text {
                .form-group {
                    text-align: end;


                    select {
                        border: none;
                    }
                }

            }

            .main {
                padding: 30px;

                .title {
                    margin-top: 20px;

                    h1 {
                        font-size: 28px;
                    }

                    .Account {
                        transition-property: color, transform;
                        transition-duration: 0.5s;
                        transition-timing-function: ease-in;

                        &:hover {
                            color: red;
                            transform: translate(50%);
                        }
                    }
                }

                .note {
                    margin-top: 10px;

                    .form-group {
                        width: 100%;
                        margin-top: 5px;
                        padding: 4px;
                        display: flex;
                        position: relative;

                        input {
                            border: none;
                            width: 100%;
                            padding: 8px;
                            border-bottom: 1px solid gray;
                        }

                        i {
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                            color: black;
                        }
                    }
                }

                .policy {
                    margin-top: 10px;
                    text-align: center;

                    p {}
                }

                .but {
                    padding: 6px;
                    background-color: rgba(59, 173, 205, 1);
                    color: white;
                    margin-top: 20px;
                    border-radius: 6px;

                    p {
                        text-align: center;
                        padding: 4px;
                    }
                }

                .or {
                    p {
                        margin: 10px;
                        text-align: center;
                    }

                }

                .selec {
                    display: flex;
                    gap: 30px;
                    justify-content: space-between;

                    .selec-one {
                        display: flex;
                        gap: 4px;
                        align-items: center;

                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    /* .selec-two {
                        display: flex;
                        gap: 4px;

                        img {
                            width: 30px;
                            height: 30px;
                        }
                    } */
                }
            }



            .dangky {
                display: flex;
                justify-content: center;
                margin: 10px 10px 0;

                li {
                    list-style: none;

                }

                .in {
                    color: rgba(59, 173, 205, 1);
                }
            }

        }
    }
}